*{
  box-sizing: border-box;
}

div.flex-board{
  display: flex;
  flex-wrap: wrap;
  width: 35vw;
  height: 35vw;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

div.square{
  display: flex;
  width: calc(100% / 8);
  height: calc(100% / 8);
  text-align: center;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
}

div.square img{
  width: 90%;
}

div.square[row="0"]:nth-child(odd){
  background-color: #f0d9b5;
}
div.square[row="0"]:nth-child(even){
  background-color: #b58863;
}

div.square[row="1"]:nth-child(even){
  background-color: #f0d9b5;
}
div.square[row="1"]:nth-child(odd){
  background-color: #b58863;
}

.display-none{
  opacity: 0;
}

div.valid-move{
  border: 2px solid yellow;
}