*{
        box-sizing: border-box;
        margin: 0;
}

main.game{
    position: relative;
    margin-right: 0px;
    right: 0px;
    width: 80vw;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

main div.chatbox, div.flex-board{
    margin: 0px 25px;
}

body{
    background-color: #4a4a48;
}

/* Añadir Estilos para que el contenedor del juego quede bien en la pantalla, ahora mismo solo pilla la mitad*/
div.chatbox{
    height: 35vw;
    width: 40%;
    border: 1px solid blue;
    border-radius: 25px;
    background-color: #B594B6;
    padding: 0px 20px;
}

div.chatbox div.chat-header{
    height: 10%;
}

div.chatbox div.chat-display{
    height: 80%;
}


hr{
    clear: both;
}
button.chat-button{
    background-color: #3A015C;
    color:  #fff;
    margin-top: 10px;
    float: right;
}

textarea.send-msg-input{
    display: inline-block;
    background-color: transparent;
    width: 85%;
    height: 10%;
    color: black;
    border: none;
    font-weight: bold;
    resize: none;
}

textarea.send-msg-input:focus{
    outline: none;
}

textarea.send-msg-input::placeholder{
    color: black;
}
