*{
        box-sizing: border-box;
        margin: 0;
}

main.game{
    position: relative;
    margin-right: 0px;
    right: 0px;
    width: 80vw;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border: none;
}

main div.chatbox, div.flex-board{
    margin: 0px 25px;
}

body{
    background-color: #312f2f;
    overflow: hidden;
}

/* Añadir Estilos para que el contenedor del juego quede bien en la pantalla, ahora mismo solo pilla la mitad*/
div.chatbox{
    height: 35vw;
    width: 40%;
    border: 2px solid #8b7925;
    border-radius: 25px;
    background-color: #2b2a2a;
    padding: 0px 20px;
}

div.chatbox div.chat-header{
    height: 10%;
}

div.chatbox div.chat-display{
    height: 80%;
    position: relative;
}


hr{
    clear: both;
}
button.chat-button{
    background-color:  rgb(59, 59, 59);
    color:   #8b7925;
    border: 1px solid #8b7925;
    margin-top: 10px;
    float: right;
    font-weight: bold;
}

button.chat-button:hover{
    border: 1px solid #8b7925;
    background-color: #8b7925;
    color: #fff;
}



textarea.send-msg-input{
    display: inline-block;
    background-color: transparent;
    width: 83%;
    height: 10%;
    color: #fff;
    border: none;
    font-weight: bold;
    resize: none;
}

textarea.send-msg-input:focus{
    outline: none;
}

textarea.send-msg-input::placeholder{
    color: #fff;
}


div.chat-display span.user-msg{
    float: right;
    clear: both;
    max-width: 70%;
}
div.chat-display{
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    padding: 10px;
}

div.chat-display  p{
    padding: 7px 5px;
    border-radius: 10px;
    background-color: #8b7925;
    word-break: break-word;
}

div.chat-display span.llama-msg{
    float: left;
    clear: both;
    max-width: 70%;
}

div.chat-display::-webkit-scrollbar {
  width: 6px;
}

div.chat-display::-webkit-scrollbar-track {
  background: transparent;
}

div.chat-display::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* Hover para dar feedback sutil */
div.chat-display::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

div.chat-display {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
